.hr{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
}

.para {
    font-size: 12px;
}

.best {
    padding-top: 5%;

}
#fat {
    padding-top: 5%;
}

.bouton {
    background-color: #8b9cd4;
    color: #2a88bd;
}

.top {
    background: #e6e5e5;
}